# bluetooth

allow bluetooth bt_int_adp_socket:sock_file write;
allow bluetooth mediaserver:unix_dgram_socket sendto;
allow bluetooth init:unix_dgram_socket sendto;

allow bluetooth bt_data_file:dir { write add_name remove_name search};
allow bluetooth bt_data_file:file { open read write create setattr getattr append unlink rename};

allow bluetooth platform_app_tmpfs:file write;

allow mediaserver bt_data_file:file read;
