# bluetooth
# Nvram / Nvdata
allow bluetooth nvdata_file:dir search;
allow bluetooth nvdata_file:file rw_file_perms;

allow bluetooth mediaserver:unix_dgram_socket sendto;
allow bluetooth init:unix_dgram_socket sendto;

allow bluetooth bt_data_file:dir { write add_name remove_name search};
allow bluetooth bt_data_file:file { open read write create setattr getattr append unlink rename};

allow bluetooth platform_app_tmpfs:file write;

allow bluetooth platformblk_device:dir search;

# Mtk fix
allow bluetooth stpbt_device:chr_file { open read write };
allow bluetooth wmt_prop:file { getattr open read };

# bt prop
allow bluetooth bt_prop:file { getattr open read };
allow bluetooth persist_bt_prop:file { getattr open read };
