# Bootanim.te

allow bootanim self:netlink_socket create_socket_perms;

allow bootanim mediaserver:binder call;
allow bootanim mediaserver:binder transfer;

allow bootanim terservice:binder call;
allow bootanim property_socket:sock_file write;
allow bootanim init:unix_stream_socket connectto;
allow bootanim custom_file:dir search;
allow bootanim custom_file:file open;
allow bootanim custom_file:file read;
allow bootanim bootani_prop:property_service set;

allow bootanim debug_prop:property_service set;

allow bootanim mediaserver_service:service_manager find;

# Nougat
allow bootanim terservice_service:service_manager find;
allow bootanim rootfs:lnk_file { getattr };
