# Fsck

# Nvram / Nvdata
allow fsck nvdata_device:blk_file	rw_file_perms;

allow fsck protect1_device:blk_file	rw_file_perms;
allow fsck protect2_device:blk_file	rw_file_perms;


# Mtk fix
allow fsck platformblk_device:blk_file	{ getattr ioctl open read write };
allow fsck platformblk_device:dir	search;
