# hostapd
allow hostapd system_wpa_socket:sock_file write;
dontaudit hostapd kernel:system module_request;

# Nougat
allow hostapd wifi_data_file:sock_file write;
