# init

allow init nvram_data_file:dir { write search setattr read create open add_name };
allow init nvdata_file:dir { write search setattr read create open add_name };

allow init platformblk_device:blk_file setattr;

# Gestures
allow init gesture_sysfs:file setattr;

# LD_SHIM_LIBS
allow init surfaceflinger:process noatsecure;

# Mtk fix
allow init wmtWifi_device:chr_file write;
allow init zram0_device:blk_file write;

# Nougat
allow init loop_device:blk_file { write };
allow init block_device:lnk_file setattr;
allow init debugfs:file { write };
