# kernel

allow kernel fuse:dir search;

allow kernel block_device:blk_file { read write };
allow kernel loop_device:blk_file { read };

allow kernel platformblk_device:blk_file { open read write };
