# kernel
# Nvram / Nvdata
allow kernel	nvdata_file:dir search;
allow kernel	nvdata_file:file { open read };

allow kernel	block_device:blk_file { read write };
allow kernel	loop_device:blk_file { read };

allow kernel	platformblk_device:blk_file { open read write };

allow kernel	wifi_data_file:dir search;
allow kernel	wifi_data_file:file { open read };

# Mtk fix
allow kernel	self:capability dac_override;
