allow mediacodec proc:file { getattr ioctl open read };
allow mediacodec proc_meminfo:file { getattr open read };
allow mediacodec sysfs:file { open read };
