# msensord

type msensord_exec, exec_type, file_type;
type msensord, domain;

init_daemon_domain(msensord)

allow msensord	msensord_daemon:file r_file_perms;
allow msensord	ctl_msensord_prop:property_service set;
allow msensord	ctl_akmd09911_prop:property_service set;

allow msensord	rootfs:lnk_file { getattr };

unix_socket_connect(msensord,property,init)
