# netd
allow netd wmtWifi_device:chr_file { write open };

allow netd kernel:system module_request;
allow netd self:capability { fsetid sys_module setgid setuid };

allow netd mtk_wifi_prop:property_service set; 

allow netd platform_app:fd use;
allow netd platform_app_tmpfs:file write;

allow netd ppp:process sigkill;

allow netd radvd_data_file:dir { read write search add_name remove_name};
allow netd radvd_data_file:file { read write create open unlink};

allow netd self:capability { setuid net_bind_service setgid };

allow netd device:file { open write };

#============= netd ==============

allow netd isolated_app:fd use;
allow netd isolated_app_tmpfs:file write;

allow netd untrusted_app:fd use;
allow netd untrusted_app_tmpfs:file write;
allow netd untrusted_app:unix_stream_socket { read write getopt setopt};


allow netd radio_tmpfs:file write;

# Mtk fix
allow netd unlabeled:file { getattr lock open read };

# Nougat
allow netd wifi_data_file:dir { create setattr };
allow netd wifi_data_file:sock_file { create setattr unlink };
