# shell

allow shell mtk_6620_launcher_exec:file rx_file_perms;
allow shell akmd09911_exec:file rx_file_perms;
allow shell zygote_exec:file rx_file_perms;
allow shell bootanim_exec:file rx_file_perms;
allow shell ccci_fsd_exec:file rx_file_perms;
allow shell ccci_mdinit_exec:file rx_file_perms;
allow shell clatd_exec:file rx_file_perms;
allow shell debuggerd_exec:file rx_file_perms;
allow shell dex2oat_exec:file rx_file_perms;
allow shell dnsmasq_exec:file rx_file_perms;
allow shell drmserver_exec:file rx_file_perms;
allow shell dumpstate_exec:file rx_file_perms;
allow shell em_svr_exec:file rx_file_perms;
allow shell factory_exec:file rx_file_perms;
allow shell gsm0710muxd_exec:file rx_file_perms;
allow shell gsm0710muxdmd2_exec:file rx_file_perms;
allow shell hostapd_exec:file rx_file_perms;
allow shell installd_exec:file rx_file_perms;
allow shell keystore_exec:file rx_file_perms;
allow shell lmkd_exec:file rx_file_perms;
allow shell logd_exec:file rx_file_perms;
allow shell mdnsd_exec:file rx_file_perms;
allow shell mediaserver_exec:file rx_file_perms;
allow shell msensord_exec:file rx_file_perms;
allow shell mtk_agpsd_exec:file rx_file_perms;
allow shell mtkrild_exec:file rx_file_perms;
allow shell mtp_exec:file rx_file_perms;
allow shell muxreport_exec:file rx_file_perms;
allow shell nvram_daemon_exec:file rx_file_perms;
allow shell dex2oat_exec:file rx_file_perms;
allow shell pq_exec:file rx_file_perms;
allow shell racoon_exec:file rx_file_perms;
allow shell runas_exec:file rx_file_perms;
allow shell sdcardd_exec:file rx_file_perms;
allow shell shell_exec:file rx_file_perms;
allow shell thermal_manager_exec:file rx_file_perms;
allow shell wifi2agps_exec:file rx_file_perms;
allow shell wmt_loader_exec:file rx_file_perms;
allow shell wpa_exec:file rx_file_perms;

allow shell tmpfs:lnk_file read;
allow shell tmpfs:lnk_file getattr;
allow shell block_device:dir search;

userdebug_or_eng(`
allow shell su_exec:file rx_file_perms;
')

allow shell qemu_pipe_device:chr_file rw_file_perms;
