# thermal_manager
type thermal_manager_exec, exec_type, file_type;
type thermal_manager, domain;

init_daemon_domain(thermal_manager)
file_type_auto_trans(thermal_manager, system_data_file, thermal_manager_data_file)

allow thermal_manager self:capability { chown dac_override fowner fsetid };
allow thermal_manager proc_thermal:dir search;
allow thermal_manager proc_thermal:file rw_file_perms;
allow thermal_manager proc_mtkcooler:dir search;
allow thermal_manager proc_mtkcooler:file rw_file_perms;
allow thermal_manager proc_mtktz:dir search;
allow thermal_manager proc_mtktz:file rw_file_perms;
allow thermal_manager system_data_file:dir { add_name write };

allow thermal_manager rootfs:lnk_file { getattr };
