# untrusted_app

allow untrusted_app dalvikcache_data_file:lnk_file read;

allow untrusted_app qemu_pipe_device:chr_file rw_file_perms;

# CTS issue
allow untrusted_app proc_lk_env:file getattr;
allow untrusted_app proc_sysrq:file getattr;
allow untrusted_app fuse:file execute;
allow untrusted_app protect_f_data_file:dir getattr;
allow untrusted_app protect_s_data_file:dir getattr;

# Mtk fix
allow untrusted_app unlabeled:file { getattr open read };
