# vold

allow vold nvram_data_file:file { read getattr open write create setattr};
allow vold nvram_data_file:lnk_file read;
allow vold nvram_data_file:dir { read open write add_name create getattr setattr search};
allow vold nvdata_file:file { read getattr open write create setattr};
allow vold nvdata_file:dir { read ioctl open write add_name create getattr setattr search};
allow vold nvram_device:chr_file { read write open };
allow vold platformblk_device:blk_file { read write open };
allow vold platformblk_device:dir search;
allow vold proc:file write;

allow vold misc_sd_device:chr_file { read ioctl open };

allow vold kernel:system module_request;
allow vold misc_device:chr_file { write open };
allow vold platformblk_device:blk_file { ioctl getattr };
allow vold zram0_device:blk_file getattr;

allow vold system_data_file:lnk_file { create unlink };

allow vold sdcardd_exec:file { read open execute execute_no_trans };
allow vold self:capability { sys_resource setgid setuid };
allow vold install_data_file:file { read open };
allow vold fuse_device:chr_file { read write open };
allow vold system_data_file:file open;

allow vold mediaserver:process ptrace;

allow vold protect_f_data_file:dir { read getattr open ioctl };
allow vold protect_s_data_file:dir { read getattr open ioctl };
allow vold persist_data_file:dir { read getattr open ioctl };

allow vold proc_lk_env:file { read write open ioctl};
allow vold media_rw_data_file:dir { read open };

allow vold tmpfs:lnk_file create;

allow vold logtemp_data_file:dir { read open getattr search};
allow vold logtemp_data_file:file { read getattr open };
allow vold logmisc_data_file:dir { read open getattr search};
allow vold logmisc_data_file:file { read getattr open };
allow vold mdlog_data_file:dir { read open getattr search};
allow vold mdlog_data_file:file { read getattr open };
allow vold aee_exp_data_file:dir { read open getattr search};
allow vold aee_exp_data_file:file { read getattr open };
allow vold data_tmpfs_log_file:dir { setattr getattr read create write rmdir relabelto remove_name open add_name search};
allow vold data_tmpfs_log_file:file { write setattr getattr relabelto create unlink open };
# mount crypto block device to /data/tmp_mnt/data_tmpfs_log and restorecon
allow vold system_data_file:dir { relabelfrom relabelto setattr };
allow vold system_data_file:file { relabelto };

allow vold platform_app:process ptrace;

allow vold misc_device:chr_file read;

allow vold platform_app:fd use;

allow vold block_device:file create;
